.lissie
  text-align: center
  background: url(https://source.unsplash.com/E-Wwl04Ntdw/1920x1200)
  background-size: cover
  background-position: top

.link
  color: hsl(352, 81%, 58%)

.title
  display: flex
  & > h1
    margin: 0
    margin-left: 15px
    font-size: 4rem

.example
  background: hsl(228, 7%, 12%)
  color: #fff
  padding: 5px
  border-radius: 5px
  margin-bottom: 20px
