{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-decorators-legacy", "react-hot-loader/babel"],
  "sourceMaps": true,
  "env": {
    "TEST": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}",
            "verbose": false
          }
        ]
      ]
    }
  }
}
