{
  "extends": [
    "@sadorlovsky",
    "@sadorlovsky/eslint-config/ava",
    "@sadorlovsky/eslint-config/react"
  ],

  "settings": {
    "import/ignore": ["node_modules", ".(css|sss|svg)$"]
  },

  "rules": {
    "no-extra-parens": ["error", "functions"],
    "import/no-mutable-exports": "off"
  }
}
