.dockerps
  color: #FFFFFF
  text-align: center
  background: url(https://source.unsplash.com/HhCANDrFzZ0/1920x1200)
  background-size: cover
  background-position: top
  background-attachment: fixed

.title
  display: flex
  align-items: center
  & > h1
    margin: 0
    margin-left: 15px
    font-size: 4rem

.logo
  height: 130px
