.about
  background: hsl(228, 7%, 29%)
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  font-family: 'Lato'
  font-size: 3rem
  color: #fff

.name
  color: hsl(25, 86%, 55%)
