.project
  border: 5px solid hsl(228, 7%, 81%)
  padding: 10px
  color: #fff
  transition: border .5s

.project:hover
  border-color: hsl(50, 74%, 61%)

.project:not(:last-child)
  margin-bottom: 10px
