.project
  height: 100vh
  color: #fff
  font-family: 'Lato'
  font-size: 1.5rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.title
  font-size: 3rem
  text-align: center

.url
  text-align: center

.url a
  color: #fff

.short-description
  text-align: center

.full-description
  text-align: center
