@import '../../styles/colors.sss'

.project-page
  background: var(--very-light-grey)
  min-height: 100vh
  display: flex
  flex-direction: column
  font-size: 1.2rem

.project-page > div
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
