@lost gutter 20px

.container
  display: flex

.block
  lost-column: 1/2
  flex: 1
  padding: 20px
  box-sizing: border-box

.node
  composes: block
  background: hsl(50, 74%, 61%)

.ruby
  composes: block
  background: hsl(352, 81%, 58%)

.links
  & a
    color: white
