@import '../../styles/colors.sss'

.nav
  height: 70px
  position: absolute
  width: 100%
  background: var(--very-dark-grey)

.nav div
  display: flex
  align-items: center
  justify-content: center

.face
  width: 70px
